.new-one {
    background: #df4841;
    color: white;
    // padding: 42px 0 32px;
    .wrap-detikx {
        margin-top: 72px;
        display: block;
    }
    .bungkus {
        // display: inline-block;
        margin-top: 50px;
        display: block;
        position: relative;
        
    }
    .lingkaran {
        .bendera {
            width: 100%;
            position: absolute;
            height: 100px;
            @media screen and (max-width:766px) {
                width: 100%;
                position: absolute;
                height: 100px;
                filter: drop-shadow(3px 3px 3px black);
                top: -66px;
                left: 36px;
                transform: rotate(-32deg);
            
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .cerutu {
            width: 80px;
            height: auto;
            position: absolute;
            bottom: -30px;
            transform: rotate(24deg);
            filter: drop-shadow(2px 3px 2px black);
            z-index: 2;
            left: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        width: 240px;
        display: inline-block;
        @media screen and (max-width:766px) {
            width: 130px;
            height: 130px;
        }
        background: white;
        height: 240px;
        vertical-align: top;
        border-radius: 50%;
        border: 4px solid #b41a1e;
        position: relative;
        .img {
            width: 100%;
            height: 130%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            img {
                width: 100%;
                border-radius: 50% 50% ;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .data {
        // background: rgba($color: #000000, $alpha:.3);
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 4;
        width: 60%;
        margin-left: 8px;
        @media screen and (max-width:766px) {
            margin-left: 8px;
            width: 55%;
            
        }
        .name {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2.2rem;
            font-style: italic;
            @media screen and (max-width:766px) {
                font-size: 1.3rem;
                
            }
        }
    }

    .anak {
        margin: 32px auto 0;
        display: block;
        .data-anak {
            display: inline-block;
            vertical-align: top;
            width: 80%;
            p {
                color: #dadada;

            }
            @media screen and (max-width:766px) {
                width: 60%;
                
            }
            .judul {
                font-size: 1.2rem;
                font-family: 'Poppins';
                padding: 0;
                color: white;
                margin: 0 0 8px 0;
            }
        }

        .data-foto {
            display: inline-block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            vertical-align: top;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

        }
    }

}