.opening {
    // min-height: auto;
    // padding: 0;
    padding-top: 0;
    background: #df4841;
    color: #f7f7f7;
    // .sticky {
    //     &::before {
    //         content: "";
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         width: 100%;
    //         height: 30vh;
    //         background: linear-gradient(to top, #df4841, transparent);   
    //     }
    // }
    .wrap-detikx {
        margin-top: -30vh;
    }
    .hello {
        position: relative;
        z-index: 20;
        border-radius: 8px;
        background: rgba($color: #14546b, $alpha: .8);
        // background: rgba(53, 51, 58,.8);
        padding: 8px;
        margin-bottom: 40vh;
         p {
            margin-bottom: 0;
         }
    }
    .no {
        margin-bottom: 30vh !important;
    }
    .bg {
        position: absolute;
        inset: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}